@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*
    background-image: url(imagens/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center; top = y center = y 
    background-size: cover;
    */

    /* (shorthand) background: color -> image -> repeat -> position/size */

    background: url(imagens/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: white;
}

#container {
    width: 360px;
    margin: 56px auto 0px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}