body {
    /*
    background-image: url(imagens/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center; top = y center = y 
    background-size: cover;
    */

    /* background: color -> image -> repeat -> position/size */

    background: url(imagens/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
    width: 360px;
    height: 712px;
    border: 1px solid white;

    margin: auto;
}